<h1><%= @user.username %>'s Profile</h1>

<%# <p><%= @user.bio %>
<%# </p> %>

<h2>Articles:</h2>
<ul>
  <% @articles.each do |article| %>
    <li>
      <%= link_to article.title, article %>
    </li>
  <% end %>
</ul>
